body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;

   border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
.center {
   display: flex;
   align-content: center;
   justify-content: center;
}
.form {
   margin-top: 10%;
   width: 40%;
   padding: 2%;
   margin-left: auto;
   margin-right: auto;
   border: thin solid rgba(138, 137, 137, 0.548);
   border-radius: 10px;
}
.form-title {
   font-size: 28px;
   font-weight: 700;
   color: #3f0e40;

   padding: 5% 0;
}
.form-label {
   font-size: 16px;
   font-weight: 500;
   padding: 1% 0;
}
.input-field {
   font-size: 16px;
   width: 100%;
   padding: 2% 2%;
   margin: 0 0 5% 0;

   background-color: #d3d3d3;
   /* border: 1px solid #ccc;*/
   border-radius: 4px;
   box-sizing: border-box;

   border: none;
}
.submit-button {
   background: #007a5a;
   border-width: 0;
   border-radius: 4px;
   margin: 2% 0;
   padding: 2% 15%;
   color: white;
   font-size: 16px;
   width: 100%;
}
.button {
   background: rgba(182, 7, 7, 0.692);
   border-width: 0;
   border-radius: 4px;
   margin: 2% 0;
   padding: 2% 15%;
   color: white;
   font-size: 16px;
   width: 100%;
   cursor: pointer;
}
.home-container {
   display: flex;
   flex-direction: row;
}
.dash-container {
   background: #3f0e40;
   flex: 0.2;
   border-right: thin solid rgb(122, 120, 120);

   color: rgb(178, 159, 179);

   flex-direction: column;
}
.chat-container {
   flex: 0.8;
   height: 100vh;
   padding: 0 20px;
   flex-direction: column;
}
.user-signature {
   margin-bottom: 40px;
   padding: 15px 15px;
}
.user-signature > h3 {
   color: white;
   margin: 0;
   font-weight: 500;
   font-size: 20px;
}
.user-signature > div {
   display: flex;
   flex-direction: row;
}
.user-signature > div > p {
   font-size: 13px;
   margin: 0;
   padding-left: 5px;
}
.user-signature > div > i {
   margin-top: auto;
   font-size: 13px;
}
.channels {
}
.add-channel {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 15px 5px 15px;
   font-size: 18px;
}
.add-channel > i {
   margin-top: auto;
   margin-bottom: auto;
}
.add-channel > i:hover {
   color: white;
   cursor: pointer;
}
.channel-list {
   overflow-x: hidden;
   overflow-y: auto;
   max-height: 200px;

   margin-bottom: 10%;
}
.channel-type {
   padding: 0 15px 5px 15px;
   font-size: 14px;
}
.form-container {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow-x: hidden;
   overflow-y: auto;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   background: whitesmoke;
}
.passive-channel {
   padding: 2px 15px;
}
.passive-channel:hover {
   background: #ddcfdd6b;
   color: white;
}
.active-channel {
   padding: 2px 15px;
   background: #08c;
   color: white;
}
.channel-link {
   color: inherit;
   text-decoration: none;
}
.logout {
   margin-top: auto;
}
.logout-link {
   padding: 2px 15px;
}
.logout-link:hover {
   background: rgba(187, 21, 9, 0.74);
   color: white;
}
.no-channel-message {
   color: #3f0e40;
   font-size: 24px;
   margin-top: 3%;
}
.channel-title {
   color: #3f0e40;
   font-size: 26px;
   font-weight: 500;
   height: 15%;
}
.message-form {
   margin-top: 2%;
   height: 15%;
}

.messages {
   height: 70%;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;

   box-shadow: 0 0 3px 2px rgba(170, 169, 169, 0.699);
   padding: 0 1% 1% 1%;
   border-radius: 4px;
}
.inner {
   display: flex;
   flex-direction: column-reverse;
   flex-grow: 1;
}
.message-container {
   display: flex;
   flex-direction: row;

   margin: 5px 0;
}
.message-wrapper {
   display: flex;
   flex-direction: column;
}
.message {
   background: rgba(192, 185, 185, 0.678);
   color: black;
   padding: 4px 8px;
   border-radius: 8px;
}
.sender {
   text-align: end;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   color: grey;
}
.info {
   color: rgba(182, 7, 7, 0.692);
}
* {
   box-sizing: border-box;
}
.joined {
   color: white;
}

.separator {
   border-top: thin solid #b29fb3;
   margin-bottom: 5%;
}
